/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 8 jun 2022, 21:56:30
    Author     : lenazu
*/

.navbar {
    background-color: #455862;
}

.table-header{
    background-color: #455862;
}

.page-header h1{
    color: #455862;
}

